<p id="notice"><%= notice %></p>
<div class="uk-overflow-auto">
<table class="uk-table uk-table-hover uk-table-divider uk-table-striped">

  <thead uk-dark >
    <tr>
      <th class="uk-table-shrink">First name</th>
        <th class="uk-table-shrink">Last name</th>
        <th class="uk-table-shrink">Email</th>
        <th class="uk-table-shrink">Phone</th>
        <th class="uk-table-shrink">Twitter</th>
        <th class="uk-table-shrink">Gab</th>
        <th class="uk-table-expand">View Friend</th>
    </tr>
  </thead>

  <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <td><%= friend.first_name %></td>
        <td><%= friend.last_name %></td>
        <td><%= friend.email %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.twitter %></td>
        <td><%= friend.gab %></td>
        <td><%= link_to 'Show', friend %></td>
        <td><%= link_to 'Edit', edit_friend_path(friend) %></td>
        <td><%= link_to 'Destroy', friend, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

 <%= link_to 'Add New Twonker', new_friend_path, class:"uk-button uk-button-primary" %>
