<p id="notice"><%= notice %></p>
<div class="uk-background-primary uk-light uk-padding uk-panel">
      <h1 class="uk-heading-small"><%= @friend.first_name %> <%= @friend.last_name %></h1>
      <p class="uk-text-lead"><strong>Email:</strong><%= @friend.email %> | 
      <strong>Phone:</strong><%= @friend.phone %><br /> 
      <strong>Twitter:</strong><%= @friend.twitter %> | 
       <strong>Gab:</strong><%= @friend.gab %>
</p>
      </p>
    <hr />
    <br />

<%= link_to 'Edit', edit_friend_path(@friend), class: "uk-button uk-button-custom" %> 
<%= link_to 'Back', friends_path, class: "uk-button uk-button-secondary" %>
 </div>



