<p id="notice"><%= notice %></p>
<div class="uk-background-secondary uk-light uk-padding uk-panel">
           <h1 class="uk-heading-medium">Name</h1>
            <hr />
        </div>

<p>
  <strong>First name:</strong>
  <%= @friend.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @friend.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @friend.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @friend.phone %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @friend.twitter %>
</p>

<p>
  <strong>Gab:</strong>
  <%= @friend.gab %>
</p>

<%= link_to 'Edit', edit_friend_path(@friend), class: "uk-button uk-button-custom" %> 
<%= link_to 'Back', friends_path, class: "uk-button uk-button-secondary" %>
